[Desktop Entry]
Name=Lavida 
Name[zh_CN]=Lavida 校准工具
Comment=Lavida Calibration Tool
Version=0.4
Exec=/home/pi/calibration/cali03/launcher.sh
Icon=/usr/share/pixmaps/python.xpm
Terminal=false
Type=Application
Categories=Application;
StartupNotify=true
